#logo {
    margin: 10px 35px;
}

#logo img {
    height: 100px;
    margin: 3px 10px;
    margin-left: -30px;
}

.a {
    background-color: black;
    display: flex;
    margin: 0;
    color: white;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

.a a {
    text-decoration: none;
    color: white;
    padding: 5px 40px;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.a a:hover {
    color: black;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 35pt;
}

form {
    max-width: 62%;
    margin: 25px auto;
}

form input {
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form textarea {
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border-radius: 8px;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark {
    color: black;
    border: 2px solid grey;
}

/*footer*/

#b {
    text-align: center;
    background-color: #808080;
    font-size: 15pt;
    padding: 5px 5px;
}