h1 {
    text-align: center;
    font-size: 35pt;
}

form {
    width: 62%;
    margin: 25px auto;
}

form input {
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form textarea {
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border-radius: 8px;
    color: black;
    border: 2px solid grey;
    padding: 6px 10px;
    font-size: 16px;
}

