table{
  height: 100%;
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

th{
  font-size: 35pt;
}

tr{
  text-align: center;
}


#td1{
  border-right: 2px solid black;
}

#td2{
  border-left: 2px solid black;
}

input{
  width: 70%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 10px;
}

.sign{
  width: 70%;
  border: 2px solid;
  border-radius: 5px;
  height: 40px;
  color: #fff;
  background-color: #0f9d58;
  text-shadow: none;
  font-size: 15pt;
}

#google{
  width: 33%;
  border: 2px solid;
  border-radius: 5px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  background-color: #dd4e41;
  font-size: 15pt;
}

#fb{
  width: 33%;
  border: 2px solid;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #3b5998;
  font-size: 15pt;
}

