table{
    font-size: 20pt;
}

.b{
    color: red;
}

button{
    color: turquoise;
    background-color:black;
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 13pt;
}

button a{
    text-decoration: none;
    color: turquoise;

}

th{
    background-color: turquoise;
    color: black;
}

#th{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Comic Sans MS;
}

td img{
    margin-bottom: 30px;
    margin-top: 30px;
}

#td{
    border-bottom: 3px solid black;
}

#t2{    
    border: 3px solid black;
}

a img{
    width: 172px;
    height: 150px;
}

